/* You can add global styles to this file, and also import other style files */
:root {
    --top-navbar-height: 56px;
}

.validationError {
    color: red;
}

input.ng-invalid.ng-touched {
    border: red 1px solid;
}

.brand-logo-color {
    color: #174dba !important;
}

.brand-backgrond {
    background-color: #c4e3ff;
}

.brand-logo {
    font-family: arial, sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    color: #174dba !important;
}

label {
    margin-bottom: .5em;
}

.center {
    align-items: center;
    text-align: center;
}

.fabutton {
    background: none;
    border: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    size: 1.5em;
}
