#userMenu.dropdown-menu {
    left: -20%;
}

#sideMenuNavbar {
    width: 250px;
}

.nav-link {
    color: rgba(var(--bs-emphasis-color-rgb), 0.65);
}

#menuAndContent {
    display: flex;
    height: calc(100vh - var(--top-navbar-height));
}

#pageContent {
    width: 100%;
}